@import 'theme';
@import '~wb-editor/lib/index.scss';

body {
    padding-top: 70px;
    font-family: rubik;

    .hide {
        display: none !important;
    }

    .navbar {
        top: 0;
        z-index: 2;
        width: 100%;
        height: 64px;
        display: flex;
        position: fixed;
        padding: 0 36px;
        background: $tblue;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 4px 9px 0 rgba(11, 11, 11, 0.53);

        .menu_toggle{
            display: none;
        }

        .logo {
            height: 25px;
        }

        .buttons-group {
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: row;

            .login-group {
                height: 100%;
                display: flex;
                margin-right: 30px;
                align-items: center;
                text-decoration: none;
                justify-content: center;

                &:last-child {
                    margin-right: 0;
                }

                .login-button {
                    width: 16px;
                    height: 26px;

                    svg {
                        fill: #ffffff;
                        transition: all 0.2s ease-in-out;
                    }
                }

                .login-text {
                    font-size: 14px;
                    font-weight: 400;
                    color: #ffffff;
                    margin-left: 10px;
                    transition: color 0.2s ease-in-out;
                }

                &:hover {
                    .login-text {
                        color: $tteal;
                        transition: color 0.2s ease-in-out;
                    }

                    .login-button {
                        svg {
                            path, rect {
                                fill: $tteal;
                                transition: all 0.2s ease-in-out;
                            }
                        }
                    }
                }
            }
        }

        .right_dropdown{
            display: none;
        }
    }

    .container-fluid {
        padding: 1.5rem 0;
        .documentation_box.row {
            position: relative;
            width: 100%;
            .sidenav_container {
                color: $tblue;
                height: 87vh;
                overflow-y: auto;
                padding: 10px 0;
                border-right: 1px solid $tblue;
                position: sticky;
                top: 11.1vh;
                .row{
                    margin: 0;
                    width: 100%;
                    .sidenav {
                        padding: 0;
                        font-weight: 500;
                        a {
                            color: $tblue;
                            text-decoration: none;
                        }
                        .list_items {
                            list-style: none;
                            margin-top: 4px;
                            margin-bottom: 4px;
                            font-size: 14px;
                            cursor: pointer;
                            .list_title {
                                min-height: 40px;
                                line-height: 40px;
                                padding: 0 1rem;
                                display: flex;
                                white-space: nowrap;
                                justify-content: space-between;
                                text-overflow: ellipsis;
                                border-left: 4px solid transparent;
                                &:hover {
                                    background-color: rgba(162, 167, 174, 0.13);
                                    border-left: 4px solid $tteal;
                                }
                                .dd_ico{
                                    transition: transform 0.25s ease-out;
                                }
                                .dd_ico_rotate{
                                    transform: rotate3d(1, 0, 0, 180deg);
                                }
                            }
                            .list_child {
                                list-style: none;
                                padding-left: 0;
                                margin: 0;
                                overflow: hidden;
                                max-height: 5000px;
                                transition: all 1s ease-in-out;
                                .list_child_items {
                                    min-height: 40px;
                                    line-height: 40px;
                                    padding: 0 2rem;
                                    cursor: pointer;
                                    font-weight: 100;
                                    border-left: 4px solid transparent;
                                    &:hover {
                                        background-color: rgba(162, 167, 174, 0.13);
                                        border-left: 4px solid $tteal;
                                    }
                                }
                            }
                            .list_child.collapsed{
                                max-height:0;
                                transition: all 0.55s cubic-bezier(0, 1.06, 1, 1);
                            }
                            .list_child_items.active,.list_title.active{
                                background-color: rgba(162, 167, 174, 0.13) !important;
                                border-left: 4px solid $tteal;
                            }
                        }
                    }
                }
            }

            .doc_content {
                margin: 1rem auto;
                padding: 0;
                p {
                    font-weight: 100;
                }
                .right-col-head {
                    padding: 35px;
                    padding-top: 0px;
                    padding-left: 0px;
                    margin-bottom: 57px;
                    display: flex;
                    // border-bottom: 1px solid rgba(162, 167, 174, 0.31);
                    .left-head {
                        width: 50%;
                        img {
                            width: 124px;
                            height: 21px;
                            object-fit: contain;
                        }
                        h4 {
                            padding: 1rem 0;
                        }
                        p {
                            width: 85%;
                            color: #a2a7ae;
                        }
                    }
                    .right-head {
                        width: 50%;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        .doc-head-icon-block {
                            width: 120px;
                            height: 145px;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            box-shadow: 0 4px 9px 0 rgba(162, 167, 174, 0.53);
                            .doc-head-icon {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-top-left-radius: 3px;
                                border-top-right-radius: 3px;
                                flex: 8;
                                background-image: linear-gradient(to bottom, #fbfbfc, #f5f6f8);
                                border-bottom: 1px solid rgba(162, 167, 174, 0.31);
                                img {
                                    height: 25px;
                                    width: 25px;
                                }
                            }

                            .doc-head-icon-detail {
                                padding: 0.4rem;
                                background: #ffffff;
                            }
                            &:last-child {
                                position: relative;
                                top: 7.2rem;
                            }
                        }
                    }
                }
                .right-col-head + hr {
                    position: relative;
                    top: -0.9rem;
                }
                .md_content {
                    padding: 15px 35px 35px 35px;
                    a {
                        text-decoration: none;
                        color: rgba(30, 41, 59, 0.5);
                        &:hover {
                            color: $tteal;
                        }
                    }
                    ul ul {
                        margin-bottom: 1rem;
                    }
                    h4:not(.left-head-h4-heading) {
                        padding: 5rem 0 0;
                        margin-top: -2rem;
                    }
                    strong {
                        font-weight: 500;
                    }
                }
            }
            .slug_sidebar {
                height: 87vh;
                font-weight: 100;
                position: sticky;
                top: 11.1vh;

                a {
                    text-decoration: none;
                    color: rgba(30, 41, 59, 0.5);
                    &:hover {
                        color: $tteal;
                    }
                }

                #slughelp {
                    border-left: 1px solid $tblue;
                    padding-left: 15px;
                    p {
                        margin-bottom: 0.5rem;
                    }
                    li {
                        list-style: none;
                    }
                }

                .feedback_buttons {
                    display: flex;
                    flex-direction: column;
                    font-size: 0.8rem;
                    position: fixed;
                    bottom: 3.75rem;
                    background: #fff;
                }
            }
        }
    }

    footer.footer{
        background:#1e293b;
        padding: 8px 0;
        font-size: 12px;
        // min-height: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        .footer_main_area{
            display: flex;
            width: 100%;
            margin: auto 2rem;
            justify-content: space-around;
            align-items: center;
            flex-wrap: nowrap;
            margin: auto 2rem;
            .footer_children{
                flex: 1;
                a,span{
                    text-decoration: none;
                    color: #b9c2d2;
                }
            }
            .footer_children.tnc{
                display: flex;
                justify-content: center;
                a{
                    margin: auto 5px;
                    &:hover {
                        color: $tteal;
                    }
                }
            }
            .footer_children.social_icons{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                img{
                    height: 22.5px;
                    margin: auto 0.3rem;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    body {
        .container-fluid {
            padding: 15px;
        }
    }
}
// Mobile View
@media (max-width: 767px) {
    body{
        .navbar{
            padding: .5rem;
            .menu_toggle {
                margin-right: 1rem;
                display: block;
                position: relative;
                width: 25px;
                height: 20px;
                background: transparent;
                border: none;
                outline: none;
                border-top: 3px solid;
                border-bottom: 3px solid;
                color: $torange;
                font-size: 0;
                transition: all .25s ease-in-out;
                &:before,
                &:after {
                    content: '';
                    display: block;
                    width: 99%;
                    height: 3px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    background: currentColor;
                    transform: translate(-50%, -50%);
                    transition: transform .25s ease-in-out;
                } 
            };
            .menu_toggle.is_active{
                border-color: transparent;
                &:before {
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                &:after {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
            .buttons-group{
                display: none;
            }
            .right_dropdown{
                height: 20px;
                position: relative;
                display: inline-block;
                .right_dropdown_content{
                    display: none;
                    flex-direction: column;
                    justify-content: center;
                    position: absolute;
                    right: 0;
                    margin: 1rem 0 0 0;
                    padding: 12px 16px;
                    min-width: 150px;
                    z-index: 1;
                    box-shadow: 0 10px 15px 0 rgba(11, 11, 11, 0.24);
                    background-color:$tblue;
                    a{
                        color: white;
                        text-decoration: none;
                        font-size: 16.5px;
                        padding: .75rem 0;
                        display: flex;
                        transition: color 0.2s ease-in-out;
                        .login-icon{
                            flex: 1;
                            top: -1px;
                            position: relative;
                            svg{
                                fill: #fff;
                            }
                        }
                        .login-text{
                            flex: 3;
                        }
                        &:hover{
                            color: $tteal;
                            svg path, svg rect{
                                fill: $tteal;
                                transition: fill 0.2s ease-in-out;
                            }
                        }
                    }
                }
                &:hover .right_dropdown_content{
                    display: flex;
                }
            }
        }
        .container-fluid{
            padding: 0;
            .documentation_box.row{
                margin: 0;
                .sidenav_container{
                    position: relative;
                    padding: 15px;
                    top: 0;
                    .row .sidenav .list_items{
                        font-size: 16.5px;
                        white-space: nowrap;

                        .dd_ico img{
                            height: 16.5px;
                        }
                    }
                }
                .doc_content{
                    min-height: 85vh;
                    .md_content{
                        .right-col-head{
                            margin: 0;
                            padding: 0;
                            flex-direction: column;
                            .left-head,.right-head{
                                width: 100%;
                            }
                            .right-head .doc-head-icon-block{
                                &:last-child {
                                    top: 0;
                                }
                            }
                        }
                        .right-col-head~h4{
                            padding: 4rem 0 0 !important;
                        }
                    }
                    .right-col-head~h4{
                        padding: 3rem 0 0;
                    }
                }
                .slug_sidebar{
                    height: auto;
                    position: relative;
                    top: 0;
                    .feedback_buttons{
                        position: absolute;
                        right: 1rem;
                        bottom: 1rem;
                        flex-direction: row;
                        font-size: 1.1rem;
                        justify-content: flex-end;
                        a{
                            margin: 0 .75rem;
                        }
                    }
                }
            }
        }
        footer.footer{
            .footer_main_area{
                flex-direction: column;
                .footer_children{
                    padding: 7px;
                    width: 100%;
                    text-align: center;
                }
                .footer_children.social_icons{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

//tablet view
@media (min-width: 768px) and (max-width: 992px) {
    body{
        .container-fluid{
            .documentation_box.row{
                .sidenav_container{
                    .row .sidenav{
                        padding-left: 15%;
                    }
                }
                .doc_content{
                    min-height: 85vh;
                    .md_content{
                        .right-col-head{
                            margin: 0;
                            padding: 0;
                            flex-direction: column;
                            .left-head,.right-head{
                                width: 100%;
                            }
                            .right-head .doc-head-icon-block{
                                &:last-child {
                                    top: 0;
                                }
                            }
                        }
                        .right-col-head~h4{
                            padding: 4rem 0 0 !important;
                        }
                    }
                    .right-col-head~h4{
                        padding: 3rem 0 0;
                    }
                }
            }
        }
    }
    
}
  