/* make the customizations */
$torange: #fb8426;
$tblue: #1e293b;
$tteal: #6FA9B6;

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700,900&cache=clear');
